# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# PyCharm
.idea/

# Pytest
.pytest_cache/

# MLflow
mlruns/
mlflow.db

# Logs
logs/*.log

# OS
.DS_Store
Thumbs.db

# Model checkpoints (optional)
# models/*.pth